// color

// shadow
$shadow: 0 4px 4px rgba(0 0 0 / 25%);

// size
$container: 1200px;
$container-safe: 40px;

// media sizes
$mobile-small: 479.98px;
$mobile: 767.98px;
$tablet: 991.98px;
$pc: 1086.98px;

// transition
$transition-01: all 0.1s ease-in-out;
$transition-03: all 0.3s ease-in-out;
$transition-05: all 0.5s ease-in-out;
$transition-07: all 0.7s ease-in-out;
$transition-10: all 1s ease-in-out;
