@use "../abstracts/" as *;

// Общие Настройки
// body {
// }

textarea {
  resize: none;
}

picture img {
  display: block;
  padding-block: 3;
  width: 100%;
}

ul {
  list-style: none;
}

// Прибивание футера к полу
body,
html {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

// welcome
// Настройка контейнера

.container {
  margin: 0 auto;
  max-width: calc($container-safe * 2 + $container);
  overflow: hidden;
  padding: 0 $container-safe;
}
