// color
$color-0: #010201;

// shadow
$shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

// size
$container: 1222px;
$container-safe: 50px;

// media sizes
$mobile-small: 479.98px;
$mobile: 767.98px;
$tablet: 991.98px;
$pc: 1086.98px;

// transition
$transition-1: all 1s ease-in-out;
$transition-2: all 0.3s ease-in-out;
$transition-4: all 0.5s ease-in-out;
$transition-3: all 0.7s ease-in-out;
