@use "../abstracts" as *;

button {
  background: none;
  cursor: pointer;
  font-size: inherit;

  /* stylelint-disable-next-line selector-no-qualifying-type */
  &:hover,
  &.active {
    color: #ffdab9;
  }

  &:focus {
    outline: none;
  }
}
