<<<<<<< HEAD
@use "../abstracts" as *;
=======
@use '../abstracts' as *;
>>>>>>> 34c7eb1d49c932e7f5853ea19f8c33b4878ae9f4

button {
  background: none;
  cursor: pointer;
  font-size: inherit;

  /* stylelint-disable-next-line selector-no-qualifying-type */
  &:hover,
  &.active {
    color: #ffdab9;
  }

  &:focus {
    outline: none;
  }
}
